* {
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: initial;
}

h1, h2 {
    height: 5rem;
    font-size: 4rem;
}

/* header */
header {
    width: 100%;
    height: 10rem;
    background-color: green;
    text-align: center;
    color: yellow;
    line-height: 10rem;
}


/* main */
main {
    margin: 1.5rem 0 1.5rem 2rem;
    height: auto;
}

.list {
    margin: 0 0 3rem 0;
}

.list .title {

}

.list .answer {
    margin-top: 1rem;
}

.answer--card {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 20rem;
    height: 30rem;
    background-color: #ffa400;
    border: 1px solid yellow;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}

.text {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1.2rem;
    background-color: green;
    font-style: italic;
    text-align: justify;    
}

.text-three {
    width: 50rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-one {
    width: 10rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1715&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.box-7 {
    width: 40rem;
    height: 40rem;
    background-image: url("https://images.unsplash.com/photo-1592769606534-fe78d27bf450?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;

}

/* footer */
footer {
    background-color: green;
    text-align: center;
    color: yellow;
}